/*diver inside the form*/
#divider{
	padding: 10px;
	margin-left: 10px;

}
/*welcome text*/
#welcome_text{
	color:#3f3f3f;
	font-size: 30px;
	font-family: verdana;
	font-weight: bold;
	padding:10px;

}
/*description below the welcome sign*/
#description_text{
	font-family: verdana;
	font-size: 15px;
	color:#3f3f3f;
}
/*the text of company info*/
#company_text{
	border-top: 1px solid #828282;
	margin-left: 10px;
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
	font-family: verdana;
	background-color: #4FC1E9;
	
}
/*text*/
#text1{
	font-size: 15px;
	font-family: verdana;
	


}
#text2{
	margin-left: 15px;
	font-size: 15px;
}
#text_box3{
	margin-left: 15px;
	width: 230px;
	
}

/*second detail*/
#second_details{
	border-top: 1px solid #828282;
	margin-left: 10px;
}
/*nature business text*/
#nature_text{
	margin-top: 0px;
	font-size: 20px;
	font-family:verdana;
	border-top: 1px solid #828282;
	font-weight: bold;
	background-color:#4FC1E9;
	margin-top: 10px;
}
/*textbox in the first part*/
#text_box1{
	width: 400px;
	margin-bottom: 10px;
	margin-left: 10px;
}
/*main economic business textbox*/
.text_box2{
	margin-left: 100px;

}	
	

	

#submit{
	padding: 10px;
}
#size_box{
	width: 500px;
	margin-bottom: 10px;
}
/*button search*/
.button_search{
	width: 80px;
	margin-right:70px;

}
/*button submit*/
.button_submit{
	margin-left: 670px;
	padding: 10px;
	margin-top: -0;


}
/*select tag in number of employees*/
.employee_no{
	width:200px;
	height:35px;
	margin-left:55px;
}
/*nationality text*/
#nationality{
	width:200px;
	height:35px;
	margin-left:20px;
	

}
#details{
	margin-left: 20px;
}

/*text nationality*/
#nationality_text{
	font-size: 15px;
	margin-left: 15px;
}
/*number of employees text*/
#number_employees{
	font-size: 15px;
	margin-left: 15px;
}
/*inside the modal description text*/
#description_main_economic{
	font-family: verdana;
	font-size: 10px;
	

}
/*nature text section*/

/*major product text*/
#major_product_text{
	font-size: 20px;
	font-family: verdana;
	float: left;
}
/*listbox from sub category*/
#list_box{
	width: 300px;
	height: 200;
	margin-left:-150px;
	overflow: scroll;

}
/*description in nature business*/
#description_main_economic{
	font-size: 20px;
	font-family: verdana;
}
/*inside the modal the list*/
#list_economic_activity{
	text-align:left; 
}
.form-control{
	width: 250px;
	padding: 3px;

}
label{
	font-family: verdana;
	font-size: 17px;
	color: #3b3a3a;
	font-weight:bold;
}
.button{
	background-color:#19b5fe;
	color: white;
	font-size: 20px;
	width: 250px;
	height: 45px;
	font-family:verdana;


}
.button:hover{
	background-color:  #4FC1E9;
}
#button_text{
	color: white;
	text-decoration: none;

}
#button_text:hover{
	color: white;
	text-decoration: none;

}

.insert_button{
	background-color: #19b5fe;
	color: white;
	margin-left: -20px;
	font-size: 15px;
	width: 200px;
	height: 45px;
	font-family: verdana;
}
#btn-ins{
	background-color: #828282;
	color: white;
	font-size: 10px;
	width: 100px;
	height: 20px;
	font-family: verdana;
}

#reg-form{
	padding: 10px;
	width: 80%;
	font-family: verdana;
}

#com-logo{
	float: right;
	min-width: 150px;
	max-width: 150px;
	min-height: 170px;
	max-height: 170px;
}

#pic{
	border: 1px solid black;
	min-width: 150px;
	max-width: 150px;
	min-height: 150px;
	max-height: 150px;
}
/*container of the form */
#container_form{
	
	width: 800px;
	margin: auto;
	background-color:#eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-moz-box-shadow: 0 0 15px black;
	-webkit-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
	
}

#comname-text, #comadd-text{
	width: 300px;
}

#yahoo{
	width: 100px;
}
select{
	width: 300px;
}
#telephone_no{
	width: 200px;

}
input#mobile_no{
	width: 200px;
}
input#fax_no{
	width: 200px;
}
input#email_address{
	width: 225px;
}
input#industry_type{
	width: 225px;
}
select{
	width: 250px;
	height:45px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/*password padding*/
#confirm_password{
	margin-bottom: 10px;
}



