 /* banner container*/
#banner_container{
	margin: auto;
	width: 1200px;
	background-color:red;
	
}
.carousel-control.left{
	color: white;
	background:none;
	border: none;
	
}
.carousel-control.right{
	color: white;
	background:none;
	border: none;
	
}
#first_content{
	margin: auto;
	width:1200px;
}
/*latest job vacancy*/
#latest_job_vacancy{
	font-family: lato;
	font-size: 20px;
	color: black;
	margin-top: 10px;
	margin-left: 20px;
	font-weight: bold;
}

/*olderpost button*/
#olderpost{
	float: right;
	margin-top: 10px;
	margin-right: 60px;

}
.dropdown2 li a:hover{
	font-family: lato;
	font-size: 15px;
	background-color:#4FC1E9;
	border:none; 
	
}

/*job vacancy post*/

/*first_post*/
#job_vacany_post{
	width: 100%;
	
}

#first_post{   /*design ng 1st job post*/
	margin-top: 10px;
	margin-left:20px;
	width: 250px;
	height: 250px;
	background-color: #eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:1px solid #989393;
	

	

}
#first_post:hover{ /*design ng shadow 1st job post*/

	-moz-box-shadow: 0 0 20px black;
	 -webkit-box-shadow: 0 0 20px black;
	  box-shadow: 0 0 20px black; 
}
img.company1{ /*image ng 1st job post*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
#company_description1{ /*description ng 1st job post*/
	margin-top: 5px;
	margin-left:20px;
	font-family: lato;
	font-size: 12px;
	color: black;

}

#second_post{ /*design ng 2nd job post*/
	margin-top: 10px;
	margin-left: 50px;
	width: 250px;
	height: 250px;
	background-color: #eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:1px solid #989393;
}
#second_post:hover{ /* shadow ng box ng 2nd job post*/

	-moz-box-shadow: 0 0 20px black;
	 -webkit-box-shadow: 0 0 20px black;
	  box-shadow: 0 0 20px black; 
}
img.company2{ /*image ng 2nd job post*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
#company_description2{ /*description ng 2nd job post*/
	margin-top: 5px;
	margin-left:30px;
	font-family: lato;
	font-size: 12px;
	color: black;

}


#third_post{ /*design ng 3rd job post*/
	margin-top: 10px;
	margin-left: 30px;
	width: 250px;
	height: 250px;
	background-color: #eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:1px solid #989393;
	
}
#third_post:hover{ /*shadow ng box ng 3rd job post*/

	-moz-box-shadow: 0 0 20px black;
	 -webkit-box-shadow: 0 0 20px black;
	  box-shadow: 0 0 20px black; 
}
img.company3{ /*image ng 3rd job post*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
#company_description3{ /*description ng 3rd job post*/
	margin-top: 5px;
	margin-left:20px;
	font-family: lato;
	font-size: 12px;
	color: black;

}

#forth_post{ /*design ng 4th job post*/
	margin-top: 10px;
	margin-left: 40px;
	width: 250px;
	height: 250px;
	background-color: #eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border:1px solid #989393;
	
}
#forth_post:hover{ /*shadow ng box ng 4thjob post*/

	-moz-box-shadow: 0 0 20px black;
	 -webkit-box-shadow: 0 0 20px black;
	  box-shadow: 0 0 20px black; 
}
img.company4{ /*image ng 3rd job post*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
#company_description4{ /*description ng 4th job post*/
	margin-top: 5px;
	margin-left:20px;
	font-family: lato;
	font-size: 12px;
	color: black;

}


/*View more hyperlink*/
#view_more_hyperlink{
	font-family: lato;
	font-size: 20px;
	float: right;
	margin-right: 60px;
}
.view_more{
	color: black;
	text-decoration: none;
}
.view_more:hover{
	color:#19b5fe;
	text-decoration: none;
}

/*older post carousel*/
#older_post_carousel1{
	margin: auto;
	width: 1200px;
	background-color: #eeebeb;
	height: 300px;
	display: none;

}


/*forecast skills*/
#forecast_skills{
	margin: auto;
	width: 1200px;
}

/*footer*/
#footer{
	margin: auto;
	width: 1200px;
	height: 250px;
	background-color:#656d78;
}

.description_text{
	font-family: lato;
	font-size: 10px;
	color: black;

}
.description_text:hover{
	color: black;
}
.description_text:visited{
	color: black;
}
.help_text:visited{
	color: black;
	text-decoration: none;
}
.help_text:hover{
	color: black;
	text-decoration: none;

}


/*
#19b5fe
 #4FC1E9*/
