
/*search button*/
#search_button{
	margin-right: 60px;
}
/*sign in form*/
#job_vacany_post{
	margin: auto;
	width: 1200px;

}
/*content container*/
#content_container{
	margin:auto;
	width: 1200px;


}
/*form signin*/
#sign_in{
	margin-left: 10px;
	width: 450px;
	background-color: #eeebeb;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-moz-box-shadow: 0 0 15px black;
	-webkit-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;

}

h1.sign_text{ /*words na sign in*/
	padding: 30px;
	color:#3f3f3f;
	font-size: 50px;
	font-family: lato;
	font-weight: bold;
}
input#sign_text{ /*textbox ng sign in*/
	margin: 20px;
	width: 400px;
	height: 50px;
	font-family: lato;
	font-size: 30px;

}
input#pass_text{ /*textbox ng password*/
	margin: 20px;
	width: 400px;
	height: 50px;
	font-family: lato;
	font-size: 30px;

}

.login_button{ /*button ng login*/
	background-color: #19b5fe;
	width: 150px;
	height: 50px;
	font-family: lato;
	font-size: 30px;
	line-height: 20px;
	font-weight: bold;
	color: white;


}
.login_button:hover{
	background-color:  #4FC1E9;
}
#check_login{
	width: 300px;
	padding: 10px;
	margin-left: 150px;

}
#checkbox{ /*checkbox*/
	font-size: 15px;
	font-family: lato;
	font-weight: bold;
	color: #3f3f3f;



}
/*welcome section*/
#welcome_container{
	margin-top: -10px;
	margin-left: 110px;
}
#welcome_text{
	margin-left: 70px;
	font-family: lato;
	font-size: 100px;
	font-weight: bold;
	color:  #4FC1E9;
}
#content_welcome{
	font-size: 10px;
	font-family: lato;
	color:black;
	text-align: justify;
}
/*not yet register section*/
#not_registered_container{
	border: 2px solid  #4FC1E9;
	height: 140px;
}
#not_registered_text{
	font-size: 30px;
	font-family: lato;
	font-weight: bold;
	color:#3f3f3f;
	margin-left: 20px;
}
.register_button{
	height:70px;
	width:400px;
	font-size:40px;
	font-family:lato;
	color:white;
	background-color:#19b5fe;
}
.register_button:hover{
	background-color:  #4FC1E9;
}
/*register link*/
.register_text{
	font-size: 40px;
}
.register_text:visited{
	color: white;
	text-decoration: none;
}
.register_text:hover{
	color: white;
	text-decoration: none;

}
.register_text:active{
	color: white;
	text-decoration: none;

}

.register_text:active{
	color: white;
	text-decoration: none;
}

/*checkbox*/
input[type='checkbox']{
	width: 20px;
	height: 20px;
}