#footer{
	margin: auto;
	width: 1200px;
	height: 200px;
	background-color:#656d78;
}

.description_text{
	font-family: verdana;
	font-size: 10px;
	color: black;

}
/*text*/
#text1{
	font-family: verdana;
	font-size: 15px;
}
a.description_text:hover{
	color: black;
}
a.description_text:visited{
	color: black;
}
/*help button*/
a.help_text:visited{
	color: black;
	text-decoration: none;
}
a.help_text:hover{
	color: black;
	text-decoration: none;

}
/*terms & condition*/
.terms_condition_text:visited{
	color: black;
	text-decoration: none;
}
.terms_condition_text:hover{
	color: black;
	text-decoration: none;

}
/*team description*/

.our_team_text:visited{
	color: black;
	text-decoration: none;
}
.our_team_text:hover{
	color: black;
	text-decoration: none;

}
.our_team_text:link{
	color: black;
	text-decoration: none;
}
.our_team_text:active{
	color: black;
	text-decoration: none;
}
/*statistical*/
.statistical_text:visited{
	color: black;
	text-decoration: none;
}
.statistical_text:hover{
	color: black;
	text-decoration: none;

}
.statistical_text:link{
	color: black;
	text-decoration: none;
}
.statistical_text:active{
	color: black;
	text-decoration: none;
}
/*contact us*/
.contact_us_text:visited{
	color: black;
	text-decoration: none;
}
.contact_us_text:hover{
	color: black;
	text-decoration: none;

}
.contact_us_text:link{
	color: black;
	text-decoration: none;
}
.contact_us_text:active{
	color: black;
	text-decoration: none;
}